<!DOCTYPE html>
<html>
    <head>
        <title>GrabAGrad</title>
        <meta name="description" content="A form to upload graduates.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="favicon icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="{{ url_for('static', filename= 'styles.css') }}" rel="stylesheet" type="text/css" />
        <script src="{{url_for('static', filename='script.js')}}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
    </head>

<body onload="reportWindowSize()" style="font-family: 'Lato', sans-serif;">
            
    <div class="header">
        <div style="display: inline" id='header_tabs'></div>
    </div>
    <div style="height: 50px;"></div>
    <p id="thanks-title">Welcome to <span style="color:white">GrabAGrad</span>, the quintessential platform for connecting undergraduate and graduate students here at Princeton!</p>
    
    <main class="thanks">
        <h2 class="about-title">How It Works</h2>
        <p class="stu-title">If you're a <span style="color:black">graduate</span> student...</p>
        <table class="thanks-table">
            <tr>
                <td class="has-text">
                    <p><b>Step 1:</b> Make a profile.</p>
                    <p><b>Step 2:</b> Wait to hear from interested undergraduates, and check out other graduate profiles!</p>
                </td>
                <td class="has-img">
                    <img src='/view/form_pic.png'>
                </td>
            </tr>
        </table>

        <p class="stu-title">If you're an <span style="color:black">undergraduate</span> student...</p>
        
        <table class="thanks-table">
            <tr>
                <td class="has-text">
                    <h2 style="color: rgb(238, 148, 64);">Search</h2>
                    <p><b>Step 1:</b>Search for graduate students with different filters.</p>
                    <p><b>Step 2:</b>Contact graduate students, they would love to talk with you!</p>
                </td>
                <td class="has-img">
                    <img src='/view/search_pic.png'>    
                </td>
            </tr>
            <tr style="visibility: hidden">
                <td style="height: 40px;">.</td>
                <td></td>
            </tr>
            
            <tr>
                <td class="has-text">
                    <h2 style="color: rgb(238, 148, 64);">Explore</h2>
                    <p><b>Step 1:</b>Browse graduate students in an alternative way than the Search Page.</p>
                    <p><b>Step 2:</b>Contact graduate students that stand out to you!</p>
                </td>
                <td class="has-img">
                    <img src='/view/explore_pic.png'>    
                </td>
            </tr>            
            <tr style="visibility: hidden">
                <td style="height: 40px;">.</td>
                <td></td>
            </tr>
            <tr>
                <td class="has-text">
                    <h2 style="color: rgb(238, 148, 64);">Favorite</h2>
                    <p><b>Step 1:</b>Click "Favorite" on a graduate's profile to set aside graduates that interest you.</p>
                    <p><b>Step 2:</b>Come back to the Favorites page to remember who you've Favorited!</p>
                </td>
                <td class="has-img">
                    <img src='/view/fav_pic.png'>    
                </td>
            </tr>
        </table>

        <br>
        <h2 class="about-title">Meet the Creators</h2>
        <br>
        <br>
        
        <div class="about-flex">
            <div class="about-card">
                <img src='https://res.cloudinary.com/hc9ax9esb/image/upload/v1649124766/GrabAGradCreators/virulk9vgx2fodeet4ak.jpg'>
                <h1>Theo Knoll</h1>
                <h3>BSE COS '24</h3>
            </div>
            <div class="about-card">
                <img src='https://res.cloudinary.com/hc9ax9esb/image/upload/v1649124256/GrabAGradCreators/gwsfelig8iemdw7b5ujn.jpg'>
                <h1>Brett Zeligson</h1>
                <h3>BSE COS '24</h3>
            </div>
            <div class="about-card">
                <img src='https://res.cloudinary.com/hc9ax9esb/image/upload/v1649124245/GrabAGradCreators/sl4pg7p3tuttusi6hk4l.jpg'>
                <h1>Henry Knoll</h1>
                <h3>BSE COS '24</h3>
            </div>    
        </div>
    </main>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'>
    </script>
        <script>
            'use strict';

            let request = null;

            function render_header_tabs(response) {
                $('#header_tabs').html(response);
                reportWindowSize();
            }

            function get_header_tabs() {
                let url = '/load_header_tabs?page=about';

                {% if 'undergrad' == user %}
                    url += '&user=undergrad';
                {% elif 'graduate' == user %}
                    url += '&user=graduate';
                {% else %}
                    url += '&user=unselected';
                {% endif %}

                request = $.ajax(
                   {
                      type: 'GET',
                      url: url,
                      success: render_header_tabs
                   }
                );
            }

            $('document').ready(get_header_tabs());
            </script>
    </body>
    </html>
