<!DOCTYPE html>
<html>
    <head>
        <!-- usually this can just be the headline -->
        <title>GrabAGrad</title>

    <!-- HTML Meta Tags -->
        <title>GrabAGrad</title>
        <meta name="description" content="A form to upload graduates.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="favicon icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="{{ url_for('static', filename= 'styles.css') }}" rel="stylesheet" type="text/css" />
        <script src="{{url_for('static', filename='script.js')}}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
    </head>

<body onload="reportWindowSize()" style="font-family: 'Lato', sans-serif;">
    <a href="/"><img id="top-right-img" style="z-index: 20000; position: fixed; top: 10px; right: 10px; width: 180px; height: auto;" src="/view/expandedLogo.png"></a>
            
    <div class="header">
        <div style="display: inline" id='header_tabs'></div>
    </div>
    <div style="height: 80px"></div>

    <main class="thanks">
        <p id="thanks-title">Welcome to <span style="color: rgb(248, 159, 57)">GrabAGrad</span>, the quintessential platform for connecting undergraduate and graduate students here at Princeton!</p>
     
        <h2>How It Works</h2>
        <p>If you're a graduate student...</p>
        <table class="thanks-table">
            <tr>
                <td class="has-text">
                    <p><b>Step 1:</b> Make a profile</p>
                    <p><b>Step 2:</b> Wait to hear from interested undergraduates.</p>
                </td>
                <td class="has-img">
                    <img src='https://res.cloudinary.com/hc9ax9esb/image/upload/v1649124766/GrabAGradCreators/virulk9vgx2fodeet4ak.jpg'>
                </td>
            </tr>
        </table>

        <p>Undergrads</p>
        
        <table class="thanks-table">
            <tr>
                <td class="has-text">
                    <h2>Search</h2>
                    <p><b>Step 1:</b> Search for graduate students that interest you</p>
                    <p><b>Step 2:</b> Contact graduate students to set up a meeting!</p>
                </td>
                <td class="has-img">
                    <img src='https://res.cloudinary.com/hc9ax9esb/image/upload/v1649124766/GrabAGradCreators/virulk9vgx2fodeet4ak.jpg'>
                </td>
            </tr>
            <tr style="visibility: hidden">
                <td style="height: 40px;">.</td>
                <td></td>
            </tr>
            <tr>
                <td class="has-img">
                    <img src='https://res.cloudinary.com/hc9ax9esb/image/upload/v1649124766/GrabAGradCreators/virulk9vgx2fodeet4ak.jpg'>
                </td>
                <td class="has-text">
                    <h2>Explore</h2>
                    <p><b>Step 1:</b> Search for graduate students that interest you</p>
                    <p><b>Step 2:</b> Contact graduate students to set up a meeting!</p>
                </td>
            </tr>
            <tr style="visibility: hidden">
                <td style="height: 40px;">.</td>
                <td></td>
            </tr>
            <tr>
                <td class="has-text">
                    <h2>Favorite</h2>
                    <p><b>Step 1:</b> Search for graduate students that interest you</p>
                    <p><b>Step 2:</b> Contact graduate students to set up a meeting!</p>
                </td>
                <td class="has-img">
                    <img src='https://res.cloudinary.com/hc9ax9esb/image/upload/v1649124766/GrabAGradCreators/virulk9vgx2fodeet4ak.jpg'>
                </td>
            </tr>
        </table>
            <li><b>Step 1</b><span>Search for graduate students that interest you</span></li>
            <br>
            <li><b>Step 2</b><span>Contact graduate students to set up a meeting!</span></li>
        </ul>
<br>
        <h2 style="display: block;">Meet the Creators</h2>
        <br>
        <br>
        
        <div class="about-flex">
            <div class="about-card">
                <img src='https://res.cloudinary.com/hc9ax9esb/image/upload/v1649124766/GrabAGradCreators/virulk9vgx2fodeet4ak.jpg'>
                <h1>Theo Knoll</h1>
                <h3>BSE COS '24</h3>
            </div>
            <div class="about-card">
                <img src='https://res.cloudinary.com/hc9ax9esb/image/upload/v1649124256/GrabAGradCreators/gwsfelig8iemdw7b5ujn.jpg'>
                <h1>Brett Zeligson</h1>
                <h3>BSE COS '24</h3>
            </div>
            <div class="about-card">
                <img src='https://res.cloudinary.com/hc9ax9esb/image/upload/v1649124245/GrabAGradCreators/sl4pg7p3tuttusi6hk4l.jpg'>
                <h1>Henry Knoll</h1>
                <h3>BSE COS '24</h3>
            </div>    
        </div>
    </main>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'>
    </script>
        <script>
            'use strict';

            let request = null;

            function render_header_tabs(response) {
                $('#header_tabs').html(response);
            }

            function get_header_tabs() {
                let url = '/header_tabs?page=about';

                {% if 'undergrad' == user %}
                    url += '&user=undergrad';
                {% else %}
                    url += '&user=graduate';
                {% endif %}

                request = $.ajax(
                   {
                      type: 'GET',
                      url: url,
                      success: render_header_tabs
                   }
                );
            }

            $('document').ready(get_header_tabs());
            </script>
    </body>
    </html>
