<!DOCTYPE html>
<html>
    <head>
        <title>GrabAGrad</title>
        <meta name="description" content="A form to upload graduates.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="favicon icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="{{ url_for('static', filename= 'styles.css') }}" rel="stylesheet" type="text/css" />
        <script src="{{url_for('static', filename='script.js')}}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body onload="reportWindowSize()" style="font-family: 'Lato', sans-serif;">
        <div class="header">
            <div style="display: inline" id='header_tabs'></div>
        </div>
        <div style="height: 80px"></div>

        <div id="explore_popup"></div>
        
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'>

        </script>

            <script>

            'use strict';

            let request = null;
            let grad = {{ grad }};

            function render_grad_info(response) {
                $('#explore_popup').html(response);
            }

            function favorite_grad(favorite) {

                let url = '/exploretogglefavorite?grad=' + grad + '&favorite=' + favorite;
                request = $.ajax(
                   {
                      type: 'POST',
                      url: url,
                      success: render_grad_info
                   }
                );
            }

            function load_in_grad() {
                let url = '/explorebox?grad=' + grad;
                request = $.ajax(
                   {
                      type: 'GET',
                      url: url,
                      success: render_grad_info
                   }
                );
            }

            function render_header_tabs(response) {
                $('#header_tabs').html(response);
            }

            function get_header_tabs() {
                let url = '/load_header_tabs?user=undergrad&page=explore';
                request = $.ajax(
                   {
                      type: 'GET',
                      url: url,
                      success: render_header_tabs
                   }
                );
            }

            function next_grad() {
                grad += 1;
                load_in_grad();
            }

            function previous_grad() {
                grad -= 1;
                load_in_grad();
            }

            function setup()
            {
                $(document).on('click','[id^=next]',function(){
                    next_grad();
                });
                $(document).on('click','[id^=previous]',function(){
                    previous_grad();
                });
                $(document).keyup(function(e) {
                    var key = e.keyCode;
                    if (key == 37) {
                        previous_grad();
                    } else if (key == 39) {
                        next_grad();
                    }});
                $(document).on('click','[id^=favorite]',function(){
                    let type = $('#favorite').attr('value');
                    favorite_grad(type);
                });

                load_in_grad();
                get_header_tabs();
            }

            $('document').ready(setup);

            </script>
    </body>
</html>
