<div class="explore-card">
    <h1 style="font-size: 50px; color: white"><span id='name'>{{grad.get_name()}}</span></h1>
    <div id="uploaded_image" class="uploaded_image">
            <img id="img-placeholder" src="{{grad.get_photo_link()}}" onerror="this.onerror=null; this.src='https://res.cloudinary.com/hc9ax9esb/image/upload/v1649079305/grad_photos/ybl7syt9b0nthyamzazg.jpg'" alt="Image of graduate" style="width:25%; height:auto; object-fit:contain; position: absolute;" >
    </div>
    <div class="text">
        <ul class="explore-text">
            {% if grad.get_acad_dept()|length %}
            <li><b>Academic Department: </b>{{grad.get_acad_dept()}}</li><br>
            {% endif %}
            {% if grad.get_years_worked()|int %}
            <li><b>Years of Work Experience: </b>{{grad.get_years_worked()}}</li><br>
            {% endif %}
            {% if grad.get_undergrad_university()|length %}
            <li><b>Undergraduate Institution: </b>{{grad.get_undergrad_university()}}</li><br>
            {% endif %}
            {% if grad.get_undergrad_major()|length %}
            <li><b>Undergraduate Major: </b>{{grad.get_undergrad_major()}}</li><br>
            {% endif %}
            {% if grad.get_masters_university()|length %}
            <li><b>Master's Institution: </b>{{grad.get_masters_university()}}</li><br>
            {% endif %}
            {% if grad.get_masters_field()|length %}
            <li><b>Master's Degree: </b>{{grad.get_masters_field()}}</li><br>
            {% endif %}
            {% if grad.get_email()|length %}
            <li><b>Preferred Contact Email: </b>{{grad.get_email()}}</li><br>
            {% endif %}
            {% if grad.get_research_focus()|length %}
            <li><b>Current Research Focus: </b>{{grad.get_research_focus()}}</li><br>
            {% endif %}
            {% if grad.get_industry_experience()|length %}
            <li><b>Industries Worked In: </b>{{grad.get_industry_experience()}}</li><br>
            {% endif %}
        </ul>
    </div>
</div>
<div style="width: 100%; margin-top: calc(100vh - 150px); position:fixed">
    <input style="display: inline-block;" id="previous" class="submit-button" type="submit" value="Previous">
    <input style="display: inline-block;" id="next" class="submit-button" type="submit" value="Next">
    {% if favorite %}
        <input style="display: inline-block; position: static; float: right;" id="favorite" class="favorite-btn submit-button" type="submit" value="Unfavorite">
    {% else %}
        <input style="display: inline-block; position: static; float: right;" id="favorite" class="favorite-btn submit-button" type="submit" value="Favorite">
    {% endif %}
</div>