<!DOCTYPE html>
<html>
    <head>
        <!-- usually this can just be the headline -->
        <title>GrabAGrad</title>

    <!-- HTML Meta Tags -->
        <title>GrabAGrad</title>
        <meta name="description" content="A multi-part series by graduate student columnist Matt Mleczko about how Princeton University can promote affordable housing in a reparative framework and provide a model for other similar institutions to follow. ">

        <link href="styles.css" rel="stylesheet" type="text/css" />

        <script src="script.js"></script>
    </head>

<body>
    <h1 style="margin-bottom: -20px">Tell Us About Yourself !</h1>
    <form class="form-input">
        <label for="name">Name</label>
        <input id="name" type="text"><br>
        <label for="major">Major</label>
        <input id="major" type="text"><br>
        <label for="hometown">Hometown</label>
        <input id="hometown" type="text"><br>
        <label for="past_experience">Past Experience</label>
        <textarea cols="num" rows="num" id="past_experience"></textarea>
    </form>
<button class="submit">Submit</button>
</body>
</html>
