<!DOCTYPE html>
<html>
    <head>
        <!-- usually this can just be the headline -->
        <title>GrabAGrad</title>

    <!-- HTML Meta Tags -->
        <title>GrabAGrad</title>
        <meta name="description" content="A multi-part series by graduate student columnist Matt Mleczko about how Princeton University can promote affordable housing in a reparative framework and provide a model for other similar institutions to follow. ">

        <link href="{{ url_for('static', filename= 'styles.css') }}" rel="stylesheet" type="text/css" />

        <script src="{{url_for('static', filename='script.js')}}"></script>
    </head>

<body>
    <h1>Tell Us About Yourself !</h1>
    <br>
    <form class="form-input" action="/submit">
        <label for="name">Name</label>
        <input id="name" name="name" type="text"><br>
        <label for="major">Major</label>
        <input id="major" name="major" type="text"><br>
        <label for="bio">Bio</label>
        <input id="bio" name="bio" type="text"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
