<!DOCTYPE html>
<html>
    <head>
        <!-- usually this can just be the headline -->
        <title>GrabAGrad</title>

    <!-- HTML Meta Tags -->
        <title>GrabAGrad</title>
        <meta name="description" content="A multi-part series by graduate student columnist Matt Mleczko about how Princeton University can promote affordable housing in a reparative framework and provide a model for other similar institutions to follow. ">

        <link href="styles.css" rel="stylesheet" type="text/css" />

        <script src="script.js"></script>
    </head>

<body>
    <p style="font-size:30px; line-height: 30px; margin-bottom:-30px; margin-left: 10px; margin-top: 20px; padding: 0px"><b>GrabAGrad<sub>&#174</sub></b></p>
    <p id="welcome-screen">I am a...</p>

    <div class="flex-container">
        <a href="/see_grads">Undergraduate</a>
        <a href="/form" class="button2">Graduate</a>
        
    </div>

</body>
</html>
