<!DOCTYPE html>
<html>
    <head>
        <!-- usually this can just be the headline -->
        <title>GrabAGrad</title>

    <!-- HTML Meta Tags -->
        <title>GrabAGrad</title>
        <meta name="User Selection" content="Page for GrabAGrad where users choose if they are graduate or undergraduate">

        <link href="{{ url_for('static', filename= 'styles.css') }}" rel="stylesheet" type="text/css" />
        <script src="{{url_for('static', filename='script.js')}}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
      
    </head>


    <body>
        <p style="font-size:30px; line-height: 30px; margin-bottom:-30px; margin-left: 10px; margin-top: 20px; padding: 0px"><b>GrabAGrad<sub>&#174</sub></b></p>
        <div class="flex-container">
            <p class="welcome-screen">I am a...</p>
                <div style="text-align: center">
                    <a href="/see_grads">Undergraduate</a>
                    <a href="form">Graduate</a>    
            </div>

        </div>
    </body>
</html>
