<h1>More About {{grad.get_first_name()}}</h1>
<ul>
    <li><b>Academic Department: </b>{{grad.get_acad_dept()}}</li><br>
    <li><b>Years of Work Experience: </b>{{grad.get_years_worked()}}</li><br>
    <li><b>Undergraduate Institution: </b>{{grad.get_undergrad_university()}}</li><br>
    <li><b>Masters Institution: </b>{{grad.get_masters_university()}}</li><br>
    <li><b>Preferred Contact Email: </b>{{grad.get_contact()}}</li><br>
    <li><b>Current Research Focus: </b>{{grad.get_research_focus()}}</li><br>
</ul>