<!DOCTYPE html>
<html>
    <head>
        <!-- usually this can just be the headline -->
        <title>GrabAGrad</title>

    <!-- HTML Meta Tags -->
        <title>GrabAGrad</title>
        <meta name="description" content="A multi-part series by graduate student columnist Matt Mleczko about how Princeton University can promote affordable housing in a reparative framework and provide a model for other similar institutions to follow. ">

        <link href="styles.css" rel="stylesheet" type="text/css" />

        <script src="script.js"></script>
    </head>

<body>
    <div>
        <form>
            <input class="search-bar" type="text" placeholder="Search Here"></intput>
        </form>
    </div>

    <div class="flexer">
        <div class="card">  <img src="practice pic.jpg" alt="John" style="width: 90%; margin-top: 12px;">
            <h2>John Doe</h2>
            <p style="text-align:left; margin-left: 15px;"><b>Major:</b> History</p>
            <p style="text-align:left; margin-left: 15px; margin-bottom: -10px;"><b>Past Experience:</b></p>
            <ul style="margin-bottom: 30px">
                <li style="text-align:left">Experience 1</li>
                <li style="text-align:left">Experience 2</li>
                <li style="text-align:left">Experience 3</li>
            </ul>
            <a href="zoom_in.html" class="learn-more">Learn More</a>
        </div> 
        <div class="card2">  <img src="practice pic.jpg" alt="John" style="width: 90%; margin-top: 12px;">
            <h2>John Doe</h2>
            <p style="text-align:left; margin-left: 15px;"><b>Major:</b> History</p>
            <p style="text-align:left; margin-left: 15px; margin-bottom: -10px;"><b>Past Experience:</b></p>
            <ul style="margin-bottom: 30px">
                <li style="text-align:left">Experience 1</li>
                <li style="text-align:left">Experience 2</li>
                <li style="text-align:left">Experience 3</li>
            </ul>
            <a href="zoom_in.html" class="learn-more">Learn More</a>
        </div> 
        <div class="card">  <img src="practice pic.jpg" alt="John" style="width: 90%; margin-top: 12px;">
            <h2>John Doe</h2>
            <p style="text-align:left; margin-left: 15px;"><b>Major:</b> History</p>
            <p style="text-align:left; margin-left: 15px; margin-bottom: -10px;"><b>Past Experience:</b></p>
            <ul style="margin-bottom: 30px">
                <li style="text-align:left">Experience 1</li>
                <li style="text-align:left">Experience 2</li>
                <li style="text-align:left">Experience 3</li>
            </ul>
            <a href="zoom_in.html" class="learn-more">Learn More</a>
        </div> 
        <div class="card3">  <img src="practice pic.jpg" alt="John" style="width: 90%; margin-top: 12px;">
            <h2>John Doe</h2>
            <p style="text-align:left; margin-left: 15px;"><b>Major:</b> History</p>
            <p style="text-align:left; margin-left: 15px; margin-bottom: -10px;"><b>Past Experience:</b></p>
            <ul style="margin-bottom: 30px">
                <li style="text-align:left">Experience 1</li>
                <li style="text-align:left">Experience 2</li>
                <li style="text-align:left">Experience 3</li>
            </ul>
            <a href="zoom_in.html" class="learn-more">Learn More</a>
        </div> 
        <div class="card2">  <img src="practice pic.jpg" alt="John" style="width: 90%; margin-top: 12px;">
            <h2>John Doe</h2>
            <p style="text-align:left; margin-left: 15px;"><b>Major:</b> History</p>
            <p style="text-align:left; margin-left: 15px; margin-bottom: -10px;"><b>Past Experience:</b></p>
            <ul style="margin-bottom: 30px">
                <li style="text-align:left">Experience 1</li>
                <li style="text-align:left">Experience 2</li>
                <li style="text-align:left">Experience 3</li>
            </ul>
            <a href="zoom_in.html" class="learn-more">Learn More</a>
        </div> 
        <div class="card3">  <img src="practice pic.jpg" alt="John" style="width: 90%; margin-top: 12px;">
            <h2>John Doe</h2>
            <p style="text-align:left; margin-left: 15px;"><b>Major:</b> History</p>
            <p style="text-align:left; margin-left: 15px; margin-bottom: -10px;"><b>Past Experience:</b></p>
            <ul style="margin-bottom: 30px">
                <li style="text-align:left">Experience 1</li>
                <li style="text-align:left">Experience 2</li>
                <li style="text-align:left">Experience 3</li>
            </ul>
            <a href="zoom_in.html" class="learn-more">Learn More</a>
        </div> 
        <div class="card">  <img src="practice pic.jpg" alt="John" style="width: 90%; margin-top: 12px;">
            <h2>John Doe</h2>
            <p style="text-align:left; margin-left: 15px;"><b>Major:</b> History</p>
            <p style="text-align:left; margin-left: 15px; margin-bottom: -10px;"><b>Past Experience:</b></p>
            <ul style="margin-bottom: 30px">
                <li style="text-align:left">Experience 1</li>
                <li style="text-align:left">Experience 2</li>
                <li style="text-align:left">Experience 3</li>
            </ul>
            <a href="zoom_in.html" class="learn-more">Learn More</a>
        </div> 
        <div class="card3">  <img src="practice pic.jpg" alt="John" style="width: 90%; margin-top: 12px;">
            <h2>John Doe</h2>
            <p style="text-align:left; margin-left: 15px;"><b>Major:</b> History</p>
            <p style="text-align:left; margin-left: 15px; margin-bottom: -10px;"><b>Past Experience:</b></p>
            <ul style="margin-bottom: 30px">
                <li style="text-align:left">Experience 1</li>
                <li style="text-align:left">Experience 2</li>
                <li style="text-align:left">Experience 3</li>
            </ul>
            <a href="zoom_in.html" class="learn-more">Learn More</a>
        </div> 
        <div class="card2">  <img src="practice pic.jpg" alt="John" style="width: 90%; margin-top: 12px;">
            <h2>John Doe</h2>
            <p style="text-align:left; margin-left: 15px;"><b>Major:</b> History</p>
            <p style="text-align:left; margin-left: 15px; margin-bottom: -10px;"><b>Past Experience:</b></p>
            <ul style="margin-bottom: 30px">
                <li style="text-align:left">Experience 1</li>
                <li style="text-align:left">Experience 2</li>
                <li style="text-align:left">Experience 3</li>
            </ul>
            <a href="zoom_in.html" class="learn-more">Learn More</a>
        </div> 
        <div class="card">  <img src="practice pic.jpg" alt="John" style="width: 90%; margin-top: 12px;">
            <h2>John Doe</h2>
            <p style="text-align:left; margin-left: 15px;"><b>Major:</b> History</p>
            <p style="text-align:left; margin-left: 15px; margin-bottom: -10px;"><b>Past Experience:</b></p>
            <ul style="margin-bottom: 30px">
                <li style="text-align:left">Experience 1</li>
                <li style="text-align:left">Experience 2</li>
                <li style="text-align:left">Experience 3</li>
            </ul>
            <a href="zoom_in.html" class="learn-more">Learn More</a>
        </div> 
    </div>

</body>
</html>
