<!DOCTYPE html>
<html>
    <head>
        <!-- usually this can just be the headline -->
        <title>GrabAGrad</title>

    <!-- HTML Meta Tags -->
        <title>GrabAGrad</title>
        <meta name="description" content="Thanks graduates for inputting information into their profiles.">

        <link href="{{ url_for('static', filename= 'styles.css') }}" rel="stylesheet" type="text/css" />

        <script src="{{url_for('static', filename='script.js')}}"></script>
    </head>

<body>
    <h1>Thanks for your submission</h1>
    <h2>What we got from you:</h2>
    <p><b>Name:</b> {{name}}</p>
    <p><b>Major:</b> {{major}}</p>
    <p><b>Bio:</b> {{bio}}</p>
    <br>
    <a href="/">Home</a>

</body>
</html>
