<!DOCTYPE html>
<html>
    <head>
        <!-- usually this can just be the headline -->
        <title>GrabAGrad</title>

    <!-- HTML Meta Tags -->
        <title>GrabAGrad</title>
        <meta name="description" content="A multi-part series by graduate student columnist Matt Mleczko about how Princeton University can promote affordable housing in a reparative framework and provide a model for other similar institutions to follow. ">

        <link href="styles.css" rel="stylesheet" type="text/css" />

        <script src="script.js"></script>
    </head>

<body>
    <h1>Thanks for your submission</h1>
    <h2>What we got from you:</h2>
    <p><b>Name:</b> {{name}}</p>
    <p><b>Major:</b> {{major}}</p>
    <p><b>Bio:</b> {{bio}}</p>
    

</body>
</html>
