<!DOCTYPE html>
<html>
    <head>
        <!-- usually this can just be the headline -->
        <title>GrabAGrad</title>

    <!-- HTML Meta Tags -->
        <title>GrabAGrad</title>
        <meta name="description" content="Displaying graduates from the given search">
        <link href="{{ url_for('static', filename= 'theo_styles.css') }}" rel="stylesheet" type="text/css" />
    </head>

<body>
    <div>
        <form>
            <input class="search-bar" type="text" placeholder="Search Here"></intput>
        </form>
    </div>
    <br>
    <table class="styled-table">
        <thead>
            <tr>
                <th align="left">Name</th>
                <th align="left">Academic Dept</th>
                <th align="left">Bio</th>
            </tr>
        </thead>
        <tbody>
        {% for grad_student in grads: %}

        <tr>
            <td>{{grad_student.get_name()}}</td>
            <td>{{grad_student.get_acad_dept()}}</td>
            <td>{{grad_student.get_bio()}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table></body>
</html>
