<!DOCTYPE html>

<html>
    <head>
        <!-- usually this can just be the headline -->
        <title>GrabAGrad</title>

    <!-- HTML Meta Tags -->
        <title>GrabAGrad</title>
        <meta name="description" content="Displays all of the graduate members of GrabAGrad">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{{ url_for('static', filename= 'styles.css') }}" rel="stylesheet" type="text/css" />
        <script src="{{url_for('static', filename='script.js')}}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body style="font-family: 'Lato', sans-serif;">
        <div id="mySidenav" style="transition: ease .3s; width: 360px" class="sidenav">
            <div id="filter">
                <form id="search" action="see_grads" method="get" style="text-align: center">
                    <input class="search-bar" type="text" name="searchbar" placeholder="Search Here"></intput>
                    <input class="sidebar-submit" type="Submit"></input>
                </form>
                <br>
                <!--<p style="margin-bottom: 15px;">Filter By:</p>
                <form style="text-align: left;">
                    <input class="search-filter" type="text" placeholder="Major"></intput>
                    <input class="search-filter" type="text" placeholder="Research Focus"></intput>
                    <input class="search-filter" type="text" placeholder="Industries Worked In"></intput>
                </form> -->
                <div id="sort" class="btn-group">
                        <button style="margin-left: 20px; background-color: white; color: black; border-style: none;" type="button" class="btn btn-lg btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort By:
                        </button>
                        <div style="margin-left: 33px; margin-top: 5px;" class="dropdown-menu dropdown-menu-right">
                          <form id="sortby" method="get" action="sortgradsby">
                              <input name="Submit" id="alphabetical" class="dropdown-item" type="submit" value="First Name: A-Z"></input>
                              <input name="Submit" id="reverse-alphabetical" class="dropdown-item" type="submit" value="First Name: Z-A"></input>
                           </form>
                        </div>
                  </div>
            
            </div>
        </div>

        <div class="header">
            <span class="menu-closed menu-button" onclick="openNav()">&#9776;</span>
            <a style="text-decoration: none" href="/">Home</a>
            <a style="text-decoration: none" href="/form">Create a Profile</a>
            <a style="text-decoration: none" href="/about">About GrabAGrad</a>
            <span class="title">GrabAGrad</span>
        </div>

        <div id="details" class="details details-closed" style="visibility: hidden; transition: ease .3s;">
            <div onclick="details()" class="close"></div>
            <div id='popup_details'></div>
        </div>
    
        <div id="main" style="transition: ease .3s;margin-left: 315px;">
            <div class="flexer">
                {% if success != "Success": %}
                    <p style="margin: 23px">{{success}}</p>
                {% elif graduates|length == 0: %}
                    <p style="text-align: center">No Grad Students Match The Search Criteria</p>
                {% else %}
                    {% for grad in graduates|list: %}
                    <div class="card">  <img src="{{grad.get_photo_link()}}" onerror="this.onerror=null; this.src='https://res.cloudinary.com/hc9ax9esb/image/upload/v1649079305/grad_photos/ybl7syt9b0nthyamzazg.jpg'" alt="Image of graduate">
                        <h2>{{grad.get_first_name()}}</h2>
                        <p><b></b>{{grad.get_acad_dept()}}</p>
                        <!--<p><b>Main Industry:</b> {{grad.get_industries()[0]}}</p>
                        <p style="margin-bottom: 30px;"><b>Current Rearch Focus:</b> Thing</p>
                        -->
                        <br>
                        <br>
                        <button onclick="view_popup({{ grad.get_grad_id() }})" class="learn-more">Learn More</button>
                    </div> 
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <script src=
            'https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'>
        </script>

            <script>

            'use strict';

            let request = null;

            function render_popup(response) {
                console.log("Yessir")
                $('#popup_details').html(response);
                details();
            }

            function view_popup(grad_id) {
                console.log('Popup opened');
                console.log(grad_id);

                let url = '/popup?id=' + grad_id;
                request = $.ajax(
                   {
                      type: 'GET',
                      url: url,
                      success: render_popup
                   }
                );
            }

            </script>
    </body>
    </html>