body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
}

.welcome-screen{
    margin-top: 11%;
    text-align: center;
    font-size: 11vw;
}

.flex-container{   
    position: relative; 
    margin: 0;
    position: absolute;
    top: 42%;
    left: 50%;
    width: 100%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    line-height: 30px;
}

.flex-container a{
    margin: 5vw;
    text-decoration: none;
    padding: 1vw;
    font-size: 3vw;
    border-radius: 0px;
    border-style: solid;
    border-width: 7px;
    background-color: white;
    border-color: black;
    color: black;
    font-size: 4.5vw;
}

a:hover{
    background-color: #ffb990;
}

.next-to-card{
    width: 50%;
}

.labelStyle label{
    text-align: right;
    display: inline-block;
    font-size: 1.5vw;
}

.inputStyle input{
    text-align: left;
    display: inline-block;
    width: 100%;
    font-size: 1.5vw;
}

.labelStyle{
    width: 49%;
    display: inline-block;
    margin-top: 10px;
}

.inputStyle{
    width: 50%;
    display: inline-block;
    padding-left: 10px;
}
input{
    border-width: 0px;
    border-radius: 2px;
    background-color: white;
    border-style: solid;
    border-bottom-width: 3px;
    height: 30px;
    padding: 5px;
    font-size: 30px;
    padding-bottom: 2px;
    display: inline-block;
}


.submit-button{
    margin: 20px;
    width: 180px;
    border-width: 0px;
    padding: 20px;
    line-height: 0px;
    border-radius: 8px;
    background-color:rgb(248, 159, 57);
}

.submit-button:hover{
    color:rgb(255, 248, 241);
    border-width: 0px;
    transition: 0.3s ease-out;
}

input:focus,
input:hover {
    border-color:rgb(248, 159, 57);
    color:rgb(248, 159, 57);
    outline: none;
    border-bottom-width: 3px;
    transition: 0.5s ease-out;
}

textarea{
    border-width: 3px;
    border-radius: 2px;
    border-style: solid;
    background-color: white;
    resize: none;
    height: 100px;
    padding: 10px;
    font-size: 1.5vw;
    width: 100%;
    display: inline-block;
}

.form-bottom{
    margin: 20px;
}

textarea:focus,
textarea:hover {
    border-color:rgb(248, 159, 57);
    color:rgb(248, 159, 57);
    outline: none;
    border-bottom-width: 4px;
    transition: 0.5s ease-out;
}

.details{
    height: calc(100vh - 90px);
    width: calc(100vw - 425px);
    position: fixed;
    text-align: left;
    z-index: 1;
    bottom: 20px;
    right: 20px;
    top: 70px;
    border-radius: 8px;
    background-color: rgb(66, 33, 1, 0.9);
    overflow-x: hidden;
    transition: ease;
    padding-left: 20px;
    padding-right: 20px;
}

.close {
    width: 60px;
    height: 60px;
    margin-top: 14px;
    margin-right: -20px;
    position: fixed;
    right: 60px;
    transition: ease-in;
}

.details h1{
    font-size: 40px;
    color: white;
    float: left;
    text-align: left;
    margin-top: 10px;
    padding: 0;   
}

#custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

#custom-file-input::before {
  content: 'Choose Your Photo';
  display: inline-block;
  margin-right: 80px;
  line-height: 20px;
  background: #f89f39;
  border-style: none;
  padding: 5px 8px;
  outline: none;
  height: 40px;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  margin-right: -40px;
  margin-left: 20px;
  font-size: 20px;
}

#cloudinary_upload {
  display: inline-block;
  margin-right: 80px;
  line-height: 20px;
  background: #f89f39;
  border-style: none;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  height: 40px;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  margin-left: 20px;
  font-size: 20px;
}

#custom-file-input:hover,
#custom-file-input:active,
#cloudinary_upload:hover,
#cloudinary_upload:active
{
 outline: black solid 2px;
}


.details ul{
    list-style: none;
    font-size: 20px;
    color: white;
    float: left;
    text-align: left;
    margin-top: 10px;
    padding: 0;   
}

.close:after {
    content: '';
    height: 30px;
    border-left: 4px solid #fff;
    position: absolute;
    transform: rotate(45deg);
    left: 28px;
}

.close:before {
    content: '';
    height: 30px;
    border-left: 4px solid #fff;
    position: absolute;
    transform: rotate(-45deg);
    left: 28px;
}

.submit{
    background-color: black;
    color: white;
    padding: 0.75vw;
    font-size: 1.2vw;
    border-radius: 4px;
    border-width: 0px;
    position: relative;
    float: right;
    margin-right: 30px;
    margin-top: -10px;
}

.sidebar-submit:hover{
    background-color: #ffb98b;
    color: black;
    transition: 0.4s;
    border-style: none;
}

.sidebar-submit{
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 20px;
    border-radius: 4px;
    border-width: 0px;
    line-height: 0px;
}

h1{
    text-align: center;
    width: 100%;
    font-size: 4vw;
}

.header {
    margin: none;
    background-color: #ffb98b;
    text-align: left;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.2);
    height: 50px;
    width: 100%;
    padding: 10px;
    position: fixed;
    z-index: 2;
}

.header a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 20px;
    display: inline-block;
}

.header a:hover{
    color: white;
    font-weight: bolder;
}

.title{
    float: right;
    padding-right: 20px;
    padding-top: 1px;
    font-size: 24px;
    font-weight: bolder;
}

.menu-button{
    font-size: 23px;
    cursor: pointer;
    color: black;
    display: inline-block;
}

.search-bar{
    background-color: white;
    border-width: 0px;
    border-style: solid;
    border-color: black;
    width: 80%;
    text-align: center;
    margin: 17px;
    height: 40px;
    border-radius: 4px;
    font-size: 22px;
}

#sortby option:hover{
    background-color: #FFB98B;
}

#sortby option:focus{
    outline: none;
    background-color: #EE9440;
}

#sortby {
    padding: 10px;
    border-style: none;
    border-radius: 5px;
}

#sortby option{
    color: black;
    font-size: 18px;
}
.search-bar:hover{
    border-style: none;
}

.search-bar:focus::placeholder {
    color: transparent;
  }

::placeholder{
    opacity: 1;
    color: black;
}

.flexer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 2vw;
    margin-left: 2vw;
    flex-wrap: wrap;
}

h2::first-letter{
    font-size: 90px;    
}

.flexer h2{
    background-color: none;
    text-align: center;
    font-size: 48px;
    letter-spacing: 3px;
    font-weight: 30px;
    margin-top: -35px;
    padding: 0px;
    line-height: 0px;
    color: #EE9440;
    text-shadow: 
    0px 0px 20px #ffffff,
    0px 0px 20px #ffffff,
    0px 0px 20px #ffffff,
    0px 0px 20px #ffffff,
    0px 0px 20px #ffffff,
    0px 0px 20px #ffffff,
    0px 0px 20px #ffffff,
    0px 0px 20px #ffffff,
    0px 0px 20px #ffffff,
    0px 0px 20px #ffffff,
    0px 0px 20px #ffffff;
  
    /*margin-right: 11px;
    margin-top: 8px;
    border-radius: 0 8px 8px 0; */
}

.flexer p{
    text-align: center;
    color: black;
    font-weight: bolder;
    margin-top: 25px;
    font-size: 20px;
    height: 10px;
}

.flexer ul{
    margin-bottom: 30px;
}

.flexer li{
    text-align:left;
}

.card{
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    min-width: 250px;
    height: 500px;;
    text-align: center;
    flex-grow: 1;
    margin: 23px;
    background-color: white; 
    border-style: solid;
    border-width: 4px;
    border-color: rgb(180, 112, 9);
}

img{
    width: 100%;
    height: 350px;
}

#menu-item:hover,
#menu-item:focus{
    background-color: #ffb98b;
    outline: none;
}

.learn-more{
    background-color: rgb(248, 159, 57);  
    color: black;
    border-style: none;
    padding: 10px;
    margin: auto;
    margin-top: -5px;
    font-size: 17px;
    border-radius: 8px;
    border-width: 3px;
    text-decoration: none;
    transition: ease-out;
    width: 200px;
}

.learn-more:hover{
    background-color: #FFB98B;
    color: black;
    transition: .5s ease;
}

.big-box{
    margin: 20px;
    background-color: #f5a8a8;
    height: 88vh;
    padding: 20px;
    border-radius: 10px;;
}

.sidenav {
    height: calc(100vh - 50px);
    width: 0;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: rgb(238, 148, 64);
    overflow-x: hidden;
    transition: 0.5s;
    padding-left: 20px;
    padding-right: 20px;
}

.search-filter{
    background-color: transparent;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-color: black;
    width: 90%;
    font-size: 22px;
    margin-bottom: 18px;
}

.search-filter:focus::placeholder,
.search-filter:hover::placeholder {
    color: white;
    transition: 0.5s ease-in;
}

.search-filter:focus,
.search-filter:hover {
    border-color: white;
    color: white;
    outline: none;
    border-bottom-width: 4px;
    transition: 0.5s ease-in;
}

.search-filter:focus::placeholder{
    color: transparent;
}

.sidenav p{
    font-size: 25px;
}

.menu-open{
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.2);
}

.menu-closed{
    box-shadow: none;
}
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  #main {
    transition: margin-left .5s;
    transition: ease;
    padding-top: 50px;  
}

.thanks{
    margin-left: 20px;
}

.thanks h1{
   color: black;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}
 
.thanks h2::first-letter,
.thanks h2 {
    color: black;
    font-weight: bolder;
    font-size: 40px;
    color: white;
 }

 .thanks h2{
    padding: 20px;
    background-color: black;
    color: white;
    width: 450px;
    margin-left: -21px;
    border-radius: 0 12px 12px 0;
 }

 .form-title{    
    padding: 20px;
    background-color: white;
    border-style: none;
    border-width: 6px 6px 6px 0px;
    color: rgb(238, 148, 64);
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 4vw;
    border-radius: 0 12px 12px 0;
}

 .thanks ul{
    list-style: none;
    font-size: 20px;
    color: black;
    float: left;
    text-align: left;
    margin-top: 10px;
    padding: 0;
    width: 100%;
 }

 .thanks b{
    color: black;
    background-color: rgb(238, 148, 64);
    padding: 10px;
    padding-left: 30%;
    margin-left: -20px;
    border-radius: 0 12px 12px 0;
    margin-right: 10px;
}

.textarea-label{
    color: black;
    background-color: rgb(238, 148, 64);
    padding: 10px;
    text-align: right;
    border-radius: 0 12px 12px 0;
    margin-left: -20px;
    margin-bottom: 30px;
    width: 20%;
}

#card-mockup{
    display: inline-block; 
    background-color: rgba(58, 29, 0);
    width: 40%;
    height: 400px;
    position: absolute;
    right: 50px;
    top: 40vh;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px 10px rgb(166, 166, 166);
}

#card-mockup span,
#card-mockup p{
    display: inline-block;
    color: white;
    margin-top: 5px;
}

#img-placeholder{ 
  border-radius: 10px;
  right: 20px;
  top: 20px;
  z-index: 300px;
}

#card-mockup span{
    font-weight: bolder;
    font-size: 15px;
}

#card-mockup p{
    margin: 0;
    margin-left: 10px;
    font-weight: normal;
    font-size: 15px;
    padding: 0px;
}

.about-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 2vw;
    margin-left: 2vw;
    flex-wrap: wrap;
}

.about-card{
    min-width: 310px;
    max-width: 320px;
    margin: 20px;
    margin-bottom: 50px;
    text-align: center;
   
}

.about-card img{
    border-radius: 20px;
    box-shadow: -20px -20px #b8591b;
}

.about-card h1{
    margin-top: 20px;
    color:rgb(238, 148, 64)
}

.about-card h3{
    font-weight: bolder;
    font-style: italic;
}

.thanks p{
    font-size: 30px;
    font-weight: bolder;
    padding-top: 20px;
}

.sortby{
    margin-bottom: 15px;
}

.backToTop{
    visibility: hidden;
}

#research-focusCard{
    display: inline-block;
    padding-right: 10px;
    margin-right: 20px;
}

@media screen and (max-width: 780px) {
    #mySidenav {
        position: static;
        padding-top: 50px;
        width: 100vw;
        height: 525px;
        margin-bottom: -40px;
    }

    #main{
        margin-left: 0;
    }

    .details{
        height: calc(100vh - 150px);
        width: 90vw;
        position: fixed;
        text-align: left;
        z-index: 1;
        bottom: 40px;
        right: 20px;
        left: 20px;
        top: 70px;
        border-radius: 8px;
        background-color: rgb(66, 33, 1, 0.9);
        overflow-x: hidden;
        transition: ease;
        padding-left: 20px;
        padding-right: 20px;
    }

    .sorter{
        margin-top: 20px;
    }

    .sortby{
        margin-right: 20px;
        display: inline-block;
    }

    #filter{
        margin-bottom: -2000px;
    }

    #sortby{
        display: inline-block;
    }

    .small-screen{
        display: none;
    }

    .backToTop{
        visibility: visible;
        position: fixed;
        bottom: 10px;
        right: 10px;
        font-size: 3vw;
        z-index: 200;
        background-color:#EE9440;
        padding: 8px;
        border-radius: 8px;
        transition: ease 0.3s;
        text-decoration: none;
        color: black;
    }

    .backToTop:hover{
        text-decoration: none;
        color: black
    }

    #card-mockup{
        width: 90%;
        top: 20vh;
        right: 5%;
        visibility: hidden;
    }

    .next-to-card{
        width: 100%;
        padding: 3vw;
    }

    .next-to-card .labelStyle{
        display: block;
        width: 100%;
    }

    .labelStyle{
        text-align: left;
    }

    .labelStyle label{
        font-size: 2.5vw;
        margin-top: 10px;
    }

    .next-to-card .inputStyle{
        display: block;
        width: 100%;
    }

    .inputStyle input{
        font-size: 2.5vw;
    }

    .form-title{
        font-size: 7vw;
        margin-bottom: -20px;
    }
}